<form (ngSubmit)="onSubmit(updatePasswordForm)" #updatePasswordForm="ngForm">
  

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>

  <label for="oldPassword">old Password:</label>
  <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="formData.oldPassword" required><br>

  <label for="newPassword">new Password</label>
  <input type="password" id="newPassword" name="newPassword" [(ngModel)]="formData.newPassword" required><br>


  <button type="submit">update</button>
</form>